@media screen and (max-width:567px) {
     .nav{
          text-align: center;
          flex-wrap: wrap;
          align-items: start;
          justify-content: start;
     }
     
     .nav .list ul{
          flex-wrap: wrap;
          
     }

     .nav .list ul li a{
          font-size: 11px;
     }
     .nav .logo{
          width: 100%;
     }
     .nav .list{
          width: 100%;
          margin: auto;
     }
     .sec1 .txt{
          width: 100%;
     }
     .sec1 .counter{
          display: flex;
          flex-wrap: wrap;
     }
     .img{
          width: 100%;
          border-radius: 5px;
          margin-bottom: 20px;
     }
     .img2{
          position: relative;
          transform: translate(0,0);
          overflow: hidden;
     }
     .btns {
          flex-wrap: wrap;
     }
     .btns .btn{
          margin: 10px;
     }
     .lisst{
          flex-direction: row;

     }
     .lisst ul{
          font-size: 14;
          
     }
     .lisst ul li{
          width: 100%;
     }
     .sec2 .txt {
          flex-wrap: wrap;
     }
     .sec2 .chiled{
          width: 100%;
     }
     .list3{
          width: 100%;
          font-size: 14px;
     }
     .galary .img3{
          width: 100%;
     }
     .sec4 .user{
          width: 100%;
          display: block;
     }
     .sec5 .cont {
          flex-wrap: wrap;
     }
     .sec5 .cont .feed{
          width: 100%;
     }
     .f{
          flex-wrap: wrap;
     }
     .f input{
          width: 100%;
     }
     .parent{
          width: 100%;
          margin-top: 20;
          position: relative;
          overflow: hidden;
          background-color:#f1f1f1;
          border-radius: 6px;
     }
     .parent .cont {
          flex-wrap: wrap;
     }
     .parent .tr{
          background-color:#ff305b;
          transform: rotate(130deg);
          position: absolute;
          right: 40%;
          bottom:70%;
         
     }
     .parent .pimg{
          width: 100%;
          /* border-radius: 50%; */
          /* padding:0 100 30px 30px; */
          /* padding-top: 60px; */
          /* background-color:aqua; */
          text-align: left;
          padding-left: 20px;
     }
     .parent .pimg img{
          width: 45%;
     }
}
@media (min-width:567px) and (max-width:786px) {
     .nav{
          text-align: center;
          /* flex-wrap: wrap; */
          justify-content: start;
     }
     .nav .list ul{
          flex-wrap: wrap;    
     }
     .nav .list ul li{
          margin: 5px;
     }
     .nav .list ul li a{
          font-size: 11px;
     }
     .nav .logo{
          width: 20%;
     }
     .nav .list{
          width: 80%;
         
     }
     .sec1 .txt{
          width: 100%;
     }
     .sec1 .counter{
          display: flex;
          flex-wrap: wrap;
          padding-left:100px;
          padding-right: 100px;
     }
     .img{
          width: 100%;
          border-radius: 5px;
          margin-bottom: 20px;
     }
     .img2{
          position: relative;
          transform: translate(0,0);
          overflow: hidden;
     }
     .btns {
          flex-wrap: wrap;
     }
     .btns .btn{
          margin: 10px;
     }
     .lisst{
          flex-direction: row;

     }
     .lisst ul{
          font-size: 14;
          
     }
     .lisst ul li{
          width: 100%;
     }
     .sec2 .txt {
          flex-wrap: wrap;
     }
     .sec2 .chiled{
          width: 100%;
     }
     .list3{
          width: 100%;
          font-size: 14px;
     }
     .galary .img3{
          width: 100%;
     }
     .sec4 .user{
          width: 100%;
          display: block;
     }
     .sec5 .cont {
          flex-wrap: wrap;
     }
     .sec5 .cont .feed{
          width: 100%;
     }
     .f{
          flex-wrap: wrap;
     }
     .f input{
          width: 100%;
     }
     .parent{
          width: 100%;
          margin-top: 20;
          position: relative;
          overflow: hidden;
          background-color:#f1f1f1;
          border-radius: 6px;
     }
     .parent .cont {
          flex-wrap: wrap;
          
     }
     .parent .tr{
          background-color:#ff305b;
          transform: rotate(135deg);
          position: absolute;
          right: 50%;
          bottom:70%;
     }
     .parent .pimg{
          width: 100%;
          /* border-radius: 50%; */
          /* padding:0 100 30px 30px; */
          /* padding-top: 60px; */
          /* background-color:aqua; */
          text-align: left;
          padding-left: 35%;
     }
     .parent .pimg img{
          width: 35%;
     }
    
}
@media (min-width:768px) and (max-width:992px) {
     .nav{
          text-align: center;
          /* flex-wrap: wrap; */
          justify-content: start;
     }
     .nav .list ul{
          flex-wrap: wrap;    
     }
     .nav .list ul li a{
          font-size: 11px;
     }
     .nav .logo{
          width: 20%;
     }
     .nav .list{
          width: 80%;
         
     }
     .sec1 .txt{
          width: 50%;
          font-size: 12;
     }
     .sec1 .txt h2{
          padding: 0px;
          margin-bottom: 0px;
          border-left: 5px solid#ff305b;
     }
     .sec1 .txt p{
          padding-bottom: 0px;
          border-bottom: #000 1px dotted;
          margin-bottom: 0px;
     }
     .sec1 .counter{
          display: flex;
          /* flex-wrap: wrap; */
     }
     .img{
          width: 50%;
          border-radius: 5px;
          margin: 20px;
     }
     .img2{
          position: relative;
          transform: translate(0,0);
          overflow: hidden;
     }
     .btns {
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
     }
     .btns .btn{
          margin: 10px;
     }
     .lisst{
          display: flex;
          /* height: 100px; */
          flex-wrap: wrap;
          flex-direction: column;
          /* background-color: aquamarine; */
     }
     .lisst ul{
          list-style: none;
     }
     .sec2 .txt {
          flex-wrap: wrap;
     }
     .sec2 .chiled{
          width: 50%;
     }
     .list3{
          width: 100%;
          font-size: 14px;
     }
     .galary .img3{
          width: 45%;
     }
     .sec4 .user{
          width: 24%;
          /* display: block; */
     }
     .sec5 .cont {
          flex-wrap: wrap;
     }
     .sec5 .cont .feed{
          width: 30%;
          background-color: rgb(255, 255, 255);
     }
     .f{
          flex-wrap: wrap;
     }
     .f input{
          width: 45%;
     }
     .parent{
          width: 100%;
     }
}